@font-face { font-family: 'pyrite';
    src: url('http://localhost:6077/fonts/pyrite.otf') format('opentype'); }
@font-face { font-family: 'dimis';
    src: url('http://localhost:6077/fonts/dimis.ttf') format('truetype'); }
@font-face { font-family: 'csgo';
    src: url('http://localhost:6077/fonts/cs_regular.ttf') format('truetype'); }
@font-face { font-family: 'painter';
    src: url('http://localhost:6077/fonts/painter.ttf') format('truetype'); }
@font-face { font-family: 'rainbow_bridge';
    src: url('http://localhost:6077/fonts/rainbow_bridge.ttf') format('truetype'); }
@font-face { font-family: 'sweet_sensations';
    src: url('http://localhost:6077/fonts/sweet_sensations.ttf') format('truetype'); }
@font-face { font-family: 'timeburner';
    src: url('http://localhost:6077/fonts/timeburner.ttf') format('truetype'); }
@font-face { font-family: 'trench';
    src: url('http://localhost:6077/fonts/trench.ttf') format('truetype'); }
@font-face { font-family: 'caviar_dreams';
    src: url('http://localhost:6077/fonts/caviar_dreams.ttf') format('truetype'); }
@font-face { font-family: 'juicy_fruity';
    src: url('http://localhost:6077/fonts/juicy_fruity.ttf') format('truetype'); }
@font-face { font-family: 'kiona';
    src: url('http://localhost:6077/fonts/kiona.ttf') format('truetype'); }
@font-face { font-family: 'loud_and_clear';
    src: url('http://localhost:6077/fonts/loud_and_clear.ttf') format('truetype'); }
@font-face { font-family: 'moon_get';
    src: url('http://localhost:6077/fonts/moon_get.ttf') format('truetype'); }
@font-face { font-family: 'never_surrender';
    src: url('http://localhost:6077/fonts/never_surrender.ttf') format('truetype'); }
@font-face { font-family: 'roboto';
    src: url('http://localhost:6077/fonts/roboto.ttf') format('truetype'); }
@font-face { font-family: 'sacred_hertz';
    src: url('http://localhost:6077/fonts/scared_hertz.otf') format('opentype'); }
@font-face { font-family: 'three_d';
    src: url('http://localhost:6077/fonts/3d.ttf') format('truetype'); }
@font-face { font-family: 'avanger';
    src: url('http://localhost:6077/fonts/avanger.ttf') format('truetype'); }
@font-face { font-family: 'batman';
    src: url('http://localhost:6077/fonts/batman.ttf') format('truetype'); }
@font-face { font-family: 'champagne';
    src: url('http://localhost:6077/fonts/champagne.ttf') format('truetype'); }
@font-face { font-family: 'coolvetica';
    src: url('http://localhost:6077/fonts/coolvetica.ttf') format('truetype'); }
@font-face { font-family: 'demonized';
    src: url('http://localhost:6077/fonts/demonized.ttf') format('truetype'); }
@font-face { font-family: 'hacked';
    src: url('http://localhost:6077/fonts/hacked.ttf') format('truetype'); }
@font-face { font-family: 'ds_digi';
    src: url('http://localhost:6077/fonts/ds_digi.ttf') format('truetype'); }
@font-face { font-family: 'east_border';
    src: url('http://localhost:6077/fonts/east_border.ttf') format('truetype'); }
@font-face { font-family: 'flighter';
    src: url('http://localhost:6077/fonts/flighter.ttf') format('truetype'); }
@font-face { font-family: 'hemera';
    src: url('http://localhost:6077/fonts/hemera.ttf') format('truetype'); }
@font-face { font-family: 'knife_princess';
    src: url('http://localhost:6077/fonts/knife_princess.ttf') format('truetype'); }
@font-face { font-family: 'old_london';
    src: url('http://localhost:6077/fonts/old_london.ttf') format('truetype'); }
@font-face { font-family: 'road_rage';
    src: url('http://localhost:6077/fonts/road_rage.otf') format('opentype'); }
@font-face { font-family: 'starjedi';
    src: url('http://localhost:6077/fonts/starjedi.ttf') format('truetype'); }
@font-face { font-family: 'varsity';
    src: url('http://localhost:6077/fonts/varsity.ttf') format('truetype'); }
@font-face { font-family: 'vcr_mono';
    src: url('http://localhost:6077/fonts/vcr_mono.ttf') format('truetype'); }
